.experience
{
display: flex;
flex-direction: column;
align-items: center;
grid-area: experience;
gap: 24px;
max-width: 500px;

p {
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;
    color: var(--text-secondary);
    text-align: center;
}

.experience-time {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px ;
}

.experience-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

Image {
    filter: grayscale(100%);
}

.experience-unit {
    
width: 300px;
height: 32px;
border-radius: 24px;
border: 1px solid var(--text-secondary);
display: flex;
justify-content: flex-start; 
align-items: center;

.experience-measure {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    border-radius: 24px;
    height: 30px;
    background: linear-gradient(90deg, hsl(249, 6%, 21%) 2.62%, #593994 63.38%);
    border: 1px solid linear-gradient(90deg, hsl(249, 6%, 21%) 2.62%, #593994 63.38%);
    color: var(--text-primary);
    font-weight: 300;
    text-align: center;
    font-size: 12px;

    &.measure-1 {
        width: 40%;
    }

    &.measure-2 {
        width: 50%;
    }

    &.measure-3 {
        width: 80%;
    }

    &.measure-4 {
        width: 100%;
    }
}

}


}

@media (min-width: 768px) {
align-items: flex-start;
    p {

        font-size: 24px;
        line-height: 36px;
        color: var(--text-secondary);
        text-align: start;

    }
   }
}
